@import "../../../_globalSCSSVars.scss";

#app {
  .__Card {
    /*Dev*/
    *:hover {
      outline: solid 1px red;
    }
    
    /* Positioning */
    position: relative;
    margin: 0 0 50px 0;
    padding-top: 336px;
    
    /* Appearance */
    max-width: $desktopBreakpoint;
    
    .imageContainer {
      /* Placement */
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      overflow: hidden;
      
      /* Appearance */
      
      .shapedShadow {
        /*
          Positioning
        */
        width: 100%;
        max-width: 434px;
        box-sizing: border-box;
        padding: 22px 20px;

        /* Appearance */
        background: darken(desaturate($colorFoundationDark, 100%), 15%);
        box-shadow: inset 0 0 22px 22px $colorFoundationDark, inset 0 0 1px 1px $colorFoundationDark; //second box shadow needed to remove unwanted outline/edge due to border-radius

        $iPhoneMockupradius: 54px;
        border-top-left-radius: $iPhoneMockupradius;
        border-top-right-radius: $iPhoneMockupradius;

        /* Hacks */
        text-align: center;
        
        img {
          width: 100%;
          margin: 0;
          height: auto;
        }
      }
    }
    .content {
      /* Placement */
      position: relative;
      z-index: 2;
      margin: 0 $mobileInset;

      /* Apprearance */
      @include contentPadding;
      background: $colorFoundationBright;
      border-radius: $defaultBorderRadius;
      @include defaultBoxShadow;
      
      .buttonGroup {
        width: 100%;
        text-align: center;
      
        button {
          min-width: 33.33%;
          margin: 0 10px;
        } 
      }
    }
  
    /*
      Flow mobile different than larger
    */  
    @media screen and (min-width: $tabletBreakpoint) {
      background: $colorFoundationBright;
      box-shadow: 3px 5px 27px 0 rgba(0,0,0,0.33);
      h2 {
        margin-bottom: 20px;
      }
      
      .fader {
        position: absolute;
        border-bottom-left-radius: $defaultBorderRadius;
        bottom: 0;
        left: 0px;
        right: 50%;
        z-index: 1;
        height: 40px;
        box-sizing: border-box;        
        @include better-gradient(rgba($colorFoundationBright, 0.75), rgba($colorFoundationBright, 0.95));

/* !!! */
        @supports (-webkit-backdrop-filter: blur(5px)) {
          -webkit-backdrop-filter: blur(5px);
          @include better-gradient(rgba($colorFoundationBright, 0.45), rgba($colorFoundationBright, 0.65));
        }
/* !!! */

      }
      
      .imageContainer {
        top: 0;
        right: 50%;
        bottom: 0;
        left: 0;
        width: 50%;

        .shapedShadow {
          background: darken(desaturate($colorFoundationBright, 100%), 15%);
          box-shadow: inset 0 0 32px 32px $colorFoundationBright, inset 0 0 1px 1px $colorFoundationBright;
          
          img {
            width: calc(100% - 80px);
            height: auto;
          }
        }
      }
      
      .content {
        margin: 0px 0px 0px 50%;
        padding-bottom: 80px;
        box-sizing: border-box;
        min-height: 536px;
        position: relative;
        box-shadow: none;
        border-radius: none; /* accelerates rendering, invisible */
        
        .buttonGroup {
          position: absolute;
          bottom: 40px;
          text-align: left;
        }
      }
    }
  }
}