@import "../../../_globalSCSSVars.scss";

.__Card {
  background: #FCFAFA;
  box-shadow: 3px 5px 27px 0 rgba(0,0,0,0.33);
  border-radius: 11px;
  max-width: 866px;
  min-height: 535px;
  margin: 0 auto 100px auto;
  @media screen and (max-width: 946px) {
    /*
      center on wide screens, keep 40px margin on narrow displays
    */
    margin: 0 40px 100px 40px;
  }
  @media screen and (max-width: $mobileMinWidth) {
    margin: 0 0 50px 0;
  }
}