@import "../../../_globalSCSSVars.scss";

#app {
  .__Card {
    /* Positioning */
    position: relative;
    margin: 0 0 50px 0;
    padding-top: 336px;
    
    .imageContainer {
      /* Placement */
      position: absolute;
      z-index: 1;
      top: 0;
      width: 100%;
      bottom: 0;
      overflow: hidden;
      
      /* Appearance */
      
      /* Hacks */
      text-align: center;
      
      
      img {
        width: 100%;
        height: auto;
      }
      
      .shapedShadow {
        /* Positioning */
        display: inline-block;
        padding: 22px 20px;
        margin: 25px $mobileInset $mobileSectionMarginBottom $mobileInset;
        box-sizing: border-box;

        /* Appearance */
        background: darken(desaturate($colorFoundationDark, 100%), 15%);
        box-shadow: inset 0 0 22px 22px $colorFoundationDark, inset 0 0 1px 1px $colorFoundationDark; //second box shadow needed to remove unwanted outline/edge due to border-radius

        $iPhoneMockupradius: 73px;
        border-top-left-radius: $iPhoneMockupradius;
        border-top-right-radius: $iPhoneMockupradius;
      }
    }
    .content {
      /* Placement */
      position: relative;
      z-index: 2;
      margin: 0 $mobileInset;

      /* Apprearance */
      @include contentPadding;
      background: $colorFoundationBright;
      border-radius: $defaultBorderRadius;
      @include nonresponsiveBoxShadowMobile;
      
      .buttonGroup {
        width: 100%;
        text-align: center;
      
        button {
          min-width: 33.33%;
          margin: 0 10px;
        } 
      }
    }


    /*
     * Wider than a phone in portrait:
     */

    @media screen and (min-width: $mobileBreakpoint) {
      .imageContainer {
        .shapedShadow {
          margin: 50px $tabletInset $tabletSectionMarginBottom $tabletInset;
        }
      }
      .content {
        margin: 0 $tabletInset;
      }
    }


    /*
     * Wider than the average tablet in portrait
     */

    @media screen and (min-width: $tabletBreakpoint) {
      /* Placement */
      margin: 50px $desktopInset $desktopSectionMarginBottom $desktopInset;
      
      /* Appearance */
      overflow: hidden;
      background: $colorFoundationBright;
      padding: 0;
      border-radius: $defaultBorderRadius;
      @include nonresponsiveBoxShadowTablet;

      .fader {
        /* Placement */
        position: absolute;
        bottom: 0;
        left: 0px;
        right: calc(50% - 76px); //Background blur -> 2x 38px, with 38px depending on .shapedShadow{width}
        z-index: 1;
        
        /* Appearance */
        border-bottom-left-radius: $defaultBorderRadius;
        height: 40px;
        box-sizing: border-box;        
        @include better-gradient(
          rgba($colorFoundationBright, 0.75),
          rgba($colorFoundationBright, 0.95)
        );
        @supports (-webkit-backdrop-filter: blur(5px)) {
          -webkit-backdrop-filter: blur(5px);
          @include better-gradient(
            rgba($colorFoundationBright, 0.45),
            rgba($colorFoundationBright, 0.65)
          );
        }
      }
      
      .imageContainer {
        /* Placement */
        top: 0;
        right: 50%;
        bottom: 0;
        left: 0;
        width: 50%;
        
        /* Appearance */
        overflow: visible;
        
        .shapedShadow {
          /* Placement */
          margin: 0;
          
          /* Appearance */
          width: calc(100% + 38px);
          padding: 40px 38px;
          background: darken(desaturate($colorFoundationBright, 100%), 15%);
          box-shadow:
            inset 0 0 32px 32px $colorFoundationBright,
            inset 0 0 1px 1px $colorFoundationBright;
        }
      }
      
      .content {
        /* Placement */
        position: relative;
        margin: 0 0 0 50%;
        
        /* Appearance */
        padding-bottom: 80px;
        box-sizing: border-box;
        min-height: 536px;
        background: transparent;
        box-shadow: none;
        border-radius: none; /* accelerates rendering, invisible */
        
        .buttonGroup {
          position: absolute;
          bottom: 40px;
          text-align: left;
        }
      }
    }
    
    @media screen and (min-width: $desktopBreakpoint) {
      /* Appearance */
      max-width: $desktopBreakpoint;
    }
    @media screen and (min-width: #{$desktopBreakpoint + $desktopInset}) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}