@import "../../../_globalSCSSVars.scss";

/*
  Replace wrapper selector with component or page ID
*/
.__Heading {
  position: relative;
  text-align: center;
  .divided {
    display: inline;
    position: relative;
  }
  .box {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    margin-left: 50%;
    transform: translateX(-50%);

    background-color: $colorFoundationBright;
    .dark & {
      background-color: $colorFoundationDark;
    }
  }
  .divider {
    position: absolute;
    &.h1, &.h2 {
      height: 6px;
      top: calc(50% - 3px);
    }
    &.h3, &.h4, &.h5, &.h6 {
      height: 3px;
      top: calc(50% - 1.5px);
    }
    width: 100%;
    background-color: $colorFoundationBrightContrast;
    .dark {
      background-color: $colorFoundationDarkContrast;
    }
  }
}