$desktopBreakpoint: 1024px;
$tabletBreakpoint: 768px;
$tabletBreakpointInside: 767px;
$mobileBreakpoint: 480px;
$mobileBreakpointInside: 479px;

$titleFontSizeDesktop: 4.5rem;
$titleFontSizeTablet: 3.5rem;
$titleFontSizeMobile: 1.95rem;

$colorFoundationBright: #FCFAFA;
$primaryBright: $colorFoundationBright;

$colorFoundationBrightShaded: #F5F2F2;
$secondaryBright: $colorFoundationBrightShaded;

$colorFoundationDark: #706B6B;
$secondaryDark: $colorFoundationDark;

$colorFoundationDarkShaded: #545050;
$primaryDark: $colorFoundationDarkShaded;

$colorContrastBase: #A61B14;
$colorContrastInteraction: lighten($colorContrastBase, 15%);

/*
  Linear gradient are ugly, this one is better.
  This gradient simulates an easing function in ten steps.
  See my codepen: https://codepen.io/unknwntrr/pen/yKMBYZ
*/
@function mixColors($colorA, $colorB, $factor) {
  $hueDifference: hue($colorB) - hue($colorA);
  $saturationDifference: saturation($colorB) - saturation($colorA);
  $lightnessDifference: lightness($colorB) - lightness($colorA);
  $alphaDifference: alpha($colorB) - alpha($colorA);
  
  $returnColor: hsla(
    hue($colorB) - ($hueDifference * $factor),
    saturation($colorB) - ($saturationDifference * $factor),
    lightness($colorB) - ($lightnessDifference * $factor),
    alpha($colorB) - ($alphaDifference * $factor)
  );
  @return $returnColor;
}

@mixin better-gradient($fromColor, $toColor){
  background: linear-gradient(

    $fromColor 0%,
    
    mixColors($fromColor, $toColor, 0.738) 19%,
    mixColors($fromColor, $toColor, 0.541) 34%,
    mixColors($fromColor, $toColor, 0.382) 47%,
    mixColors($fromColor, $toColor, 0.278) 56.5%,
    mixColors($fromColor, $toColor, 0.194) 65%,
    mixColors($fromColor, $toColor, 0.126) 73%,
    mixColors($fromColor, $toColor, 0.075) 80.2%,
    mixColors($fromColor, $toColor, 0.042) 86.1%,
    mixColors($fromColor, $toColor, 0.021) 91%,
    mixColors($fromColor, $toColor, 0.008) 95.2%,
    mixColors($fromColor, $toColor, 0.002) 98.2%,
    
    $toColor 100%

  );
}