$desktopMinWidth: 1024px;
$tabletMinWidth:   768px;
$mobileMinWidth:   480px;
$mobileMinHeight:  415px;

$titleFontSizeDesktop: 4.5rem;
$titleFontSizeTablet: 3.5rem;
$titleFontSizeMobile: 1.95rem;

$colorFoundationBright: #FCFAFA;
$primaryBright: $colorFoundationBright;

$colorFoundationBrightShaded: #F5F2F2;
$secondaryBright: $colorFoundationBrightShaded;

$colorFoundationDark: #706B6B;
$secondaryDark: $colorFoundationDark;

$colorFoundationDarkShaded: #545050;
$primaryDark: $colorFoundationDarkShaded;