$desktopBreakpoint: 1024px;
$tabletBreakpoint: 768px;
$tabletBreakpointInside: 767px;
$mobileBreakpoint: 480px;

$titleFontSizeDesktop: 4.5rem;
$titleFontSizeTablet: 3.5rem;
$titleFontSizeMobile: 1.95rem;

$colorFoundationBright: #FCFAFA;
$primaryBright: $colorFoundationBright;

$colorFoundationBrightShaded: #F5F2F2;
$secondaryBright: $colorFoundationBrightShaded;

$colorFoundationDark: #706B6B;
$secondaryDark: $colorFoundationDark;

$colorFoundationDarkShaded: #545050;
$primaryDark: $colorFoundationDarkShaded;

$colorContrastBase: #A61B14;
$colorContrastInteraction: lighten($colorContrastBase, 15%);