#app {
  font-family: "FuturaPT", "Futura PT", "futura-pt", "Futura", "Proxima Nova", sans-serif;
  @for $headerLevel from 1 through 6 {
    h#{$headerLevel} {
      font-family: "AvenirNext-Bold", "Avenir Next", "Helvetica Now", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      font-weight: bold;
      font-weight: 700;
      letter-spacing: -2px;
      line-height: 100%;
      font-size: #{1 + (6 - $headerLevel) * 0.7}rem;
      /*
        Will compute to h1 at 4.5 rem and h6 at 1 rem, linear
      */
    }
  }
  .noWrap {
    white-space: nowrap;
  }
}
