@import '../../../_globalSCSSVars.scss';

#__Splash {
  position: relative;
  
  width: calc(100vw - 40px);
  margin: 0 20px;
  padding: env(safe-area-inset);
  box-sizing: border-box;
  
  @media screen and (min-width: $tabletBreakpoint) {
    width: calc(100vw - 80px);
    margin: 0 40px;
  }
  
  height: calc(100vh - 220px);
  min-height: 7.5em; //iPhone SE is actually too small in landscape mode, this only needs to have min-height for mobile, no media queries necessary.
  
  @media screen and (min-width: $tabletBreakpoint) {
    min-height: calc(100vh - 150px);
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 100%;
  }
  h1.title {
    color: $primaryBright;
    margin: 0;;
    padding: 0;
    text-align: center;

    font-size: 4.5em;
  }
  p.subtitle {
    color: $primaryBright;
    text-align: center;
    margin: 0;

    font-size: 1.3905em;
    @media screen and (min-width: $tabletBreakpoint) and (min-height: $mobileBreakpoint) {
      font-size: 2.78em;
    }
  }
}