@import '../../../_globalSCSSVars.scss';

#__Splash {
  position: relative;
  
  width: calc(100vw - 80px);
  margin: 0 40px;
  @media screen and (max-width: $tabletMinWidth) {
    width: calc(100vw - 40px);
    margin: 0 20px;
  }
  
  min-height: calc(100vh - 100px);
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 100%;
  }
  h1.title {
    color: $primaryBright;
    margin: 0;
    padding: 0;
    text-align: center;

    font-size: $titleFontSizeDesktop;
    @media screen and (max-width: $mobileMinWidth), screen and (max-height: 415px) {
      /*
        max-height limits small font to phone, but allows larger font on tablets running in multi-tasking mode
      */
      font-size: $titleFontSizeMobile;
    }
  }
  p.subtitle {
    color: $primaryBright;
    text-align: center;

    font-size: 2.77rem;
    @media screen and (max-width: $mobileMinWidth), screen and (max-height: 415px) {
      font-size: 1.3905rem;
    }
  }
}