@import "../../../_globalSCSSVars.scss";

#__Vita {
  background-color: $colorFoundationBright;
  box-sizing: border-box;
  padding: 50px 0;
  overflow: visible;
  position: relative;
  
  .imageContainer {
    max-width: 100%;
    height: 100vw;
    background-size: cover;
    background-position: center center;
  }
  .content, h2.title {
    margin-left: 40px;
    margin-right: 40px;
  }
  
  @media screen and (max-width: $mobileBreakpointInside) {
    .imageContainer {
      position: relative;
    }
    
    .overlayShadow {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: inset 0 0 17px rgba(0, 0, 0, 0.33);
    }
  }
  
  @media screen and (min-width: $mobileBreakpoint) {
    .imageContainer {
      width: 33%;
      height: 53vw;
      max-width: 269px;
      max-height: 435px;
      
      margin: 0 40px 10px 40px;
      float: left;
      overflow: hidden;
      border-radius: $defaultBorderRadius;
      box-shadow: 0 0 17px rgba(0, 0, 0, 0.15);
    }
    
    .overlayShadow {
      display: none;
    }
  }
  
  /* exceptions */
  .angledTransition {
    /* Placement */
    z-index: 0;
    position: absolute;
    height: 100px;
    top: -100px;
    width: 100%;
    
    @media screen and (min-width: $mobileBreakpoint) {
      height: 150px;
      top: -150px;
    }
    
    @media screen and (min-width: $tabletBreakpoint) {
      height: 180px;
      top: -180px;
    }
    
    @media screen and (min-width: $desktopBreakpoint + $desktopInset * 2) {
      $aspectRatioOfAngle: 16.7vw;
      height: $aspectRatioOfAngle;
      top: #{(-1) * $aspectRatioOfAngle};
    }
    
    .left {
      /* Placement */
      display: block;
      position: absolute;
      top: 95px;
      left: 0;
      width: $mobileInset;
      bottom: 0;
      
      @media screen and (min-width: $mobileBreakpoint) {
        top: 135px;
        width: $tabletInset;
      }
      
      @media screen and (min-width: $tabletBreakpoint) {
        top: 165px;
        width: $desktopInset;
      }
      
      @media screen and (min-width: $desktopBreakpoint + $desktopInset * 2) {
        top: auto;
        height: 5vw;
        width: calc(50% - #{$desktopBreakpoint /2});
      }
      
      /* Appearance */
      background: linear-gradient(to bottom left,
        $colorFoundationDark 49.8%,
        $colorFoundationBright 50%
      );
    }
    .right {
      /* Placement */
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: $mobileInset;

      @media screen and (min-width: $mobileBreakpoint) {
        left: $tabletInset;
      }
      
      @media screen and (min-width: $tabletBreakpoint) {
        left: $desktopInset;
      }
      
      @media screen and (min-width: $desktopBreakpoint + $desktopInset * 2) {
        left: calc(50% - #{$desktopBreakpoint /2});
      }
      
      /* Appearance */
      background: linear-gradient(to bottom right,
        $colorFoundationDark 49.8%,
        $colorFoundationBright 50%
      );
    }
  }
}