@import "../../../_globalSCSSVars.scss";

/*
  Replace wrapper selector with component or page ID
*/
.__H2 {
  outline: solid red 1px;
  position: relative;
  text-align: center;
  .divided {
    outline: solid blue 1px;
    display: inline;
    position: relative;
  }
  .box {
    outline: solid green 1px;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    margin-left: 50%;
    transform: translateX(-50%);

    background-color: $colorFoundationBright;
    .dark & {
      background-color: $colorFoundationDark;
    }
  }
  .divider {
    position: absolute;
    top: calc(50% - 3px);
    height: 6px;
    width: 100%;
    background-color: $colorFoundationBrightContrast;
    .dark {
      background-color: $colorFoundationDarkContrast;
    }
  }
}